@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #058C83;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #058C83;
  }
}

body {
  background: var(--background);
}


@font-face {
  font-family: "Christmas";
  src: url(./Christmas.otf);
}

@layer utilities{
  .merryHeading{
    font-family: "Christmas";
    font-weight: 400;
    line-height: 192px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px #000000;
  }
  .elevatePragraph{
    
  }
  .bgiamgepage1{
    background-image: url('../app/component/header/image/image7.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}